<section class="hero">
  <h1>Bundles!</h1>
  <p>
    Take notes collaboratively (or alone!) and chat about what&rsquo;s inside with Bundles, <b>the notebook that talks back.</b> Perfect for business, school or home use!
  </p>
  <div class="hero-buttons">
    <a href="#My Notebooks" class="btn">My Notebooks</a>
   <!-- <a href="#schedule" class="btn">Schedule a Demo</a> -->
  </div>

</section>
