<%= form_with(model: @organization, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: @organization.name  %>
  </div>

  <div>
    <%= form.submit "Update Organization" %>
  </div>
<% end %>
