<%= form_with(model: @organization, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit "Create Organization" %>
  </div>
<% end %>
